.photographerWall__picture {
	object-fit: cover;
	width: 20em;
	height: 20em;
	max-width: 25vw;
	border-radius: 0.5em;
}

.photographerWall__description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #901c1c;
}

.photographerWall__description--title {
	max-width: 11em;
}

.photographerWall__likes {
	display: flex;
}
.photographerWall__likes--total {
	font-weight: bold;
	font-size: 1.5em;
	margin-right: 0.3em;
}
