.slider {
	position: fixed;
	display: flex;
	top: 10vh;
	left: 15vw;
	height: 80vh;
	width: 70vw;
	background-color: white;
	justify-content: center;
	border-radius: 0.5em;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	z-index: 50;
}

.slide__currentMedia {
	width: 35em;
	height: 35em;
	margin-top: 3.5em;
	object-fit: cover;
	border-radius: 0.5em;
	box-shadow: 3px 0 0 0 #c4c4c4;
}

.slide__currentMedia--title {
	color: #901c1c;
	font-size: 1.5em;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide--active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}

.slider__arrow--right {
	margin: auto;
	font-size: 3em;
	cursor: pointer;
}

.slider__arrow--left {
	margin: auto;
	font-size: 3em;
	cursor: pointer;
}

.slider__close {
	position: absolute;
	right: 1%;
	top: 0.5em;
	font-size: 3em;
	cursor: pointer;
	z-index: 5;
}
